<section class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <nav
        class="navbar navbar-expand-lg custom-navbar py-2 px-5"
        data-bs-theme="white"
      >
        <div class="container-xxl">
          <a
            class="navbar-brand brand-name fw-bold mb-2 fs-5"
            (click)="navigate()"
          >
            {{ mensaje | titlecase }}
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav align-items-center gap-2">
              @if(!usuarioLogueado){
              <li class="nav-item">
                <a class="nav-link" routerLink="/agendar-cita">Agendar Cita</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contacto">Contacto</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link d-flex align-items-center gap-1"
                  routerLink="/login"
                >
                  <span>Iniciar Sesión</span>
                  <i class="bi bi-box-arrow-in-right"></i>
                </a>
              </li>
              } @else {
              <li class="nav-item">
                <a class="nav-link" routerLink="/veterinario/dashboard"
                  >Dashboard</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/veterinario/gestion-mascotas"
                  >Gestión de mascotas</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/veterinario/listar-citas"
                  >Historial</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link d-flex align-items-center gap-1"
                  (click)="logout()"
                >
                  <span>Cerrar Sesión</span>
                  <i class="bi bi-box-arrow-right"></i>
                </a>
              </li>
              }
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>
