<div class="background-gradient"></div>
<section class="agenda-section">
  <div class="container pt-5">
    <div class="row align-items-center text-center">
      <h1 class="principal-title">Pacientes Felices</h1>
      <p class="secondary-subtitle">
        Te mostramos las mejores fotos de nuestros engreídos. 🐶😺🦜
      </p>
      <div class="collage">
        <!-- Perros -->
        <img src="https://images.unsplash.com/photo-1558788353-f76d92427f16" alt="Perrito feliz">
         <img src="https://images.unsplash.com/photo-1507149833265-60c372daea22" alt="Perrito en consulta">
        <img src="https://images.unsplash.com/photo-1517423440428-a5a00ad493e8" alt="Perrito pequeño">
        <img src="https://images.unsplash.com/photo-1525253086316-d0c936c814f8" alt="Perrito feliz sentado">
        <img src="https://images.unsplash.com/photo-1530281700549-e82e7bf110d6" alt="Perrito recostado">
        <img src="https://images.unsplash.com/photo-1507149833265-60c372daea22" alt="Perrito revisado">

        <!-- Gatos -->
        <img src="https://images.unsplash.com/photo-1568572933382-74d440642117" alt="Gatito curioso">
        <img src="https://images.unsplash.com/photo-1543852786-1cf6624b9987" alt="Gatito tranquilo">
        <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131" alt="Gato mirando">
        <img src="https://images.unsplash.com/photo-1510337550647-e84f83e341ca" alt="Gato blanco">
        <img src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9" alt="Gato naranja">

         <img src="https://images.unsplash.com/photo-1546443046-ed1ce6ffd1ab" alt="Hamster comiendo">

        <!-- Más perros porque todos aman perros 😄 -->
       </div>


    </div>
  </div>
</section>
