.collage {
  margin-top: 2rem;
    margin-bottom: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); // columnas más anchas
}

.collage img {
  width: 100%;
  height: 260px; // ← AUMENTADO
  object-fit: cover;
  border-radius: 14px; // suaviza más el borde
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: transform .25s ease, box-shadow .25s ease;
}

.collage img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}
