 @use "../../../../../variables" as v; 

.stat-icon {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.background-decoration {
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
  z-index: 0;
}

.decoration-1 {
  width: 300px;
  height: 300px;
  background: v.$primary-color;
  top: 30%;
  left: -100px;
  animation: float 4s ease-in-out infinite;
}

.decoration-2 {
  width: 200px;
  height: 200px;
  background: v.$secondary-color;
  bottom: 10%;
  right: 30%;
  animation: float 5s ease-in-out infinite 1s;
}

.decoration-3 {
  width: 150px;
  height: 150px;
  background: v.$beige-dark;
  top: 10%;
  right: 10%;
  animation: float 3.5s ease-in-out infinite 0.5s;
}
