<div class="background-agenda"></div>
<section class="agenda-section">
  <div class="container pt-5">
    <div class="row align-items-center text-center">
      <h1 class="principal-title">Agendar cita</h1>
      <p class="secondary-subtitle">
        Programa una cita para tu fiel amigo 🐶😺🦜
      </p>
    </div>

    <div class="row my-5">
      <section class="col-lg-7 mb-4">
        <div class="service-card p-4">
          <h4 class="mb-4 text-green fw-bold">
           <i class="bi bi-clipboard2-check"></i> Información de la Cita
          </h4>

          <form [formGroup]="citaForm" (ngSubmit)="agendarCita()">
            <div class="mb-3">
              <label class="form-label">🐾 Mascota</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="nombre"
                />
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">📅 Fecha</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="fecha"
                  [min]="fechaMinima"
                />
              </div>
              <div class="col-md-6">
                <label class="form-label">⏰ Hora</label>
                <select class="form-select" formControlName="hora">
                  <option value="">Selecciona hora</option>
                  <option value="09:00">09:00 AM</option>
                  <option value="10:00">10:00 AM</option>
                  <option value="11:00">11:00 AM</option>
                  <option value="14:00">02:00 PM</option>
                  <option value="15:00">03:00 PM</option>
                  <option value="16:00">04:00 PM</option>
                  <option value="17:00">05:00 PM</option>
                </select>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">👨‍⚕️ Veterinario</label>
              <select class="form-select" formControlName="veterinarioId">
                <option value="">Selecciona un veterinario</option>
                <option *ngFor="let vet of veterinarios" [value]="vet.id">
                  Dr. {{ vet.nombre }} {{ vet.apellido }} -
                  {{ vet.especialidad }}
                </option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">💬 Motivo</label>
              <select class="form-select" formControlName="motivo">
                <option value="">Selecciona el motivo</option>
                <option value="Control general">Control general</option>
                <option value="Vacunación">Vacunación</option>
                <option value="Desparasitación">Desparasitación</option>
                <option value="Revisión de piel">Revisión de piel</option>
                <option value="Emergencia">Emergencia</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">📝 Observaciones (opcional)</label>
              <textarea
                class="form-control"
                rows="3"
                formControlName="observaciones"
                placeholder="Describe los síntomas..."
              >
              </textarea>
            </div>

            <div class="d-flex gap-2 justify-content-end">
              <button
                type="button"
                class="btn btn-secondary"
                routerLink="/citas"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="btn btn-success"
                 data-bs-toggle="modal" data-bs-target="#openModale"
                [disabled]="citaForm.invalid"
              >
                Agendar Cita
              </button>
            </div>
          </form>
        </div>
      </section>

      <section class="col-lg-5">

        <div class="service-card p-4 mb-3">
          <h5 class="mb-3 fw-bold text-green" >ℹ️ Importante</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <i class="bi bi-patch-check-fill"></i> Llega 10 min antes
            </li>
            <li class="mb-2">
              <i class="bi bi-patch-check-fill"></i> Trae cartilla de vacunación
            </li>
            <li class="mb-2">
              <i class="bi bi-patch-check-fill"></i> Trae documento de identidad
            </li>
            <li class="mb-0">
              <i class="bi bi-patch-check-fill"></i> Cancela con 24h de
              anticipación
            </li>
          </ul>
        </div>

        <!-- Card Horarios -->
        <div class="service-card p-4">
          <h5 class="mb-3 fw-bold text-green"  >🕐 Horarios</h5>
          <div class="d-flex justify-content-between mb-2">
            <span>Lunes - Viernes</span>
            <strong>9am - 6pm</strong>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <span>Sábado</span>
            <strong>9am - 2pm</strong>
          </div>
          <div class="d-flex justify-content-between">
            <span>Domingo</span>
            <strong>Cerrado</strong>
          </div>
        </div>
      </section>
    </div>
  </div> 
 <div class="modal fade" id="openModale" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog   modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cita agendada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            
        <div class="service-card p-4 mb-3" >
          <h5 class="mb-3">📋 Resumen</h5>
          <div class="mb-2">
            <strong>Mascota:</strong>
            <p class="mb-0">
              {{ mascotaSeleccionada?.nombre }} ({{
                mascotaSeleccionada?.especie
              }})
            </p>
          </div>
          <div class="mb-2" *ngIf="citaForm.get('fecha')?.value">
            <strong>Fecha:</strong>
            <p class="mb-0">
              {{ citaForm.get("fecha")?.value | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="mb-2" *ngIf="citaForm.get('hora')?.value">
            <strong>Hora:</strong>
            <p class="mb-0">{{ citaForm.get("hora")?.value }}</p>
          </div>
          <div class="mb-0" *ngIf="citaForm.get('motivo')?.value">
            <strong>Motivo:</strong>
            <p class="mb-0">{{ citaForm.get("motivo")?.value }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <div class="background-decoration decoration-1"></div>
  <div class="background-decoration decoration-2"></div>
  <div class="background-decoration decoration-3"></div>
</section>
