@use "../../../../../variables" as v;
@use "sass:color";
.background-agenda {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: 
    radial-gradient(
      circle at top left, v.$accent-color, transparent 50%  ),
       radial-gradient(
      circle at top right, #dee8f4, transparent 50%  ),
    radial-gradient(
      circle at bottom right,
      rgba(202, 239, 233, 0.25),
      transparent 70%
    );
  pointer-events: none;
}
.bi-patch-check-fill{
    color:gold
}
.agenda-section{
    position: relative;
} 
.background-decoration {
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
  z-index: 0;
}

.decoration-1 {
  width: 300px;
  height: 300px;
  background: v.$primary-color;
  top: 30%;
  left: -100px;
  animation: float 4s ease-in-out infinite;
}

.decoration-2 {
  width: 200px;
  height: 200px;
  background: v.$secondary-color;
  bottom: 10%;
  right: 20%;
  animation: float 5s ease-in-out infinite 1s;
}

.decoration-3 {
  width: 150px;
  height: 150px;
  background: v.$beige-dark;
  top: 10%;
  right: 10%;
  animation: float 3.5s ease-in-out infinite 0.5s;
}
 
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
