<div class="image-container">
  <div class="circle-bg circle-login"></div>

  <div
    class="container d-flex justify-content-center align-items-center min-vh-100"
  >
    <div class="login-card shadow p-4">
      <h3 class="text-center fw-bold text-green mb-4">
        <i class="bi bi-person-circle me-2"></i> Iniciar Sesión
      </h3>

      <form [formGroup]="loginForm">
        <div class="mb-3">
          <label class="form-label fw-semibold">Correo</label>
          <input
            type="email"
            formControlName="email"
            class="form-control form-control-lg" 
          />
        </div>

        <div class="mb-3">
          <label class="form-label fw-semibold">Contraseña</label>
          <input
            type="password"
            class="form-control form-control-lg"
            formControlName="password"
          />
        </div>

        @if(errorMsg){
         <div class="alert alert-danger mt-3 text-center">
            {{ errorMsg }}
        </div>
        }
        

        <button type="submit" (click)="login()" class="btn btn-green-gradient w-100 mt-2 fw-bold">
          Entrar
        </button>

        <div class="text-center mt-3">
          <a
            href="#"
            class="small text-muted text-decoration-none hover-underline"
          >
            ¿Olvidaste tu contraseña?
          </a>
        </div>
      </form>
    </div>
    
            <div class="floating-icon icon-1"><i class="bi bi-heart-fill"></i></div>
      <div class="floating-icon icon-2"><i class="bi bi-star-fill"></i></div>
      <div class="floating-icon icon-3"><i class="bi bi-award-fill"></i></div>

  </div>
</div>
