@use "../../../../variables" as v;

.image-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .circle-bg {
    background: #589088;
    opacity: 0.2;
    width: 700px;
    height: 700px;
  }
}
.icon-1 {
  top: 20%;
  right: 38%;
}

.icon-2 {
  bottom: 20%;
  left: 35%;
  animation: float 2.5s ease-in-out infinite 0.5s;
}

.icon-3 {
  top: 60%;
  right: 30%;
  animation: float 3s ease-in-out infinite 1s;
}

.login-card {
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.634),
    rgba(255, 255, 255, 0.245)
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 2rem;
  z-index: 2;

  max-width: 380px;
  width: 100%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
  animation: fadeIn 0.6s ease;
}

.text-green {
  color: #589088;
}

.btn-green-gradient {
  background: linear-gradient(90deg, #589088, #72b1a4);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 0;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    background: linear-gradient(90deg, #4a7f74, #68a99c);
  }
}

.hover-underline:hover {
  text-decoration: underline;
  color: #4f8c81;
}
